@media (min-width: 320px) and (max-width: 479px) {
    .admin-container{
        width: 100%;
        height:100vh;
        padding:10px;
    }
    .admin-container nav {
        height: 200px;
    }
    .admin-container nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .admin-section{
        width: 100%;
        height: 100px;
        text-align: center;
    }
}