body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}
h1 {
    color: #777;
}
.content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.platforms {
    margin-top: 20px;
}
.platforms a {
    text-decoration: none;
    color: #fff;
    background: #555;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}
.platforms a:hover {
    background: #777;
}
